<%= stylesheet_link_tag    'style.calendar', media: 'all' %>
<%= javascript_include_tag "moment.min" %>
<%= javascript_include_tag "fullcalendar.min" %>
<div class="row">
    <div class="col-md-12">
        <div id="calendar"></div>
    </div><!-- col-md-9 -->
    
</div><!-- row -->
<script>
    jQuery(document).ready(function() {
            
        /* initialize the calendar */  
        jQuery('#calendar').fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay'
            },
            monthNames: ["Enero","Febrero","Marzo","Abril","Mayo","Junio","Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre" ], 
			monthNamesShort: ['Ene','Feb','Mar','Abr','May','Jun','Jul','Ago','Sep','Oct','Nov','Dic'],
			dayNames: [ 'Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
			dayNamesShort: ['Dom','Lun','Mar','Mie','Jue','Vie','Sab'],
			buttonText: {
			today: 'hoy',
			month: 'mes',
			week: 'semana',
			day: 'día'},
			weekends: false,
            editable: true,
            eventSources: {
	            url: '/ver_citas.json', // use the `url` property
	            
	        },
	        eventRender: function(event, element) {	
	        		
			        element.find('.fc-event-title').append(event.paciente_info);
			}
				          
        });    
    });
  
  </script>