<div class="row">
    <div class="col-md-12">
        <div id="calendar"></div>
    </div><!-- col-md-9 -->
    
</div><!-- row -->
<div class="detalle-dialog">
	  <div class="modal-content"></div>
</div>

<div class="nuevo-dialog">
  <div class="modal-content"></div>
</div>

<script>
    jQuery(document).ready(function() {
        
        
        /* initialize the calendar */  
        jQuery('#calendar').fullCalendar({
            header: {
                //left: 'prev,next today',
                left: '',
                center: 'title',
                //right: 'month,agendaWeek,agendaDay' //botones para manejo diario
                right: 'today prev,next'              
            },
            monthNames: ["Enero","Febrero","Marzo","Abril","Mayo","Junio","Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre" ], 
			monthNamesShort: ['Ene','Feb','Mar','Abr','May','Jun','Jul','Ago','Sep','Oct','Nov','Dic'],
			dayNames: [ 'Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
			dayNamesShort: ['Dom','Lun','Mar','Mie','Jue','Vie','Sab'],
			buttonText: {
			today: 'hoy',
			month: 'mes',
			week: 'semana',
			day: 'día'},
			weekends: false,
            editable: true,
            eventSources: {
	            url: '/ver_citas.json', // use the `url` property
	            
	        },
	        eventRender: function(event, element) {	
	        		
			        element.find('.fc-event-title').append(event.paciente_info);
			       
			},
			////se muestra en detalle la cita
			eventClick: function(calEvent, jsEvent, view) {
				var id = calEvent.id
				
				$('.detalle-dialog').data("cita", calEvent).html("<p>Fecha; " + calEvent.fecha + "</p><p>Paciente: " + calEvent.paciente_info + "</p><p>Especialista:" + calEvent.especialista_info + "</p>").dialog({
					title: 'Detalle de la Cita',
					height: 220,
					width: 350,
					modal: true,
	
				});

				return false;		    
			 },
			 //creacion de la cita
			 dayClick: function(date, jsEvent, view) {
		         $('.nuevo-dialog').data("date", date).html('<%= escape_javascript render("form2") %>').dialog({
			        	title: 'Registrar Cita',
			        	width: 450,			        	
			     });
				$('#cita_fecha').val(date);
		    }
				          
        });    
    });
  
  </script>